<form action="/searchList" method="POST">
<input type="text" name="searchText" value="" placeholder="請輸入關鍵字">
<input type="text" name="searcher" value="" placeholder="請輸入名字">
<input type="submit" value="送出">
</form>