@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #151320;
}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  color: #fff;
  background-color: #151320;
  font-size: 1rem;
  font-weight: 700;
  line-height: 200px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 3px;
}

.box::before,
.box::after {
  content: '';
  position: absolute;
  top: -15px;
  left: -15px;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  z-index: -1;
  background-image: linear-gradient(
    45deg,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff,
    #ff0055,
    #ff0000,
    #ff0055,
    #ff0000,
    #ffff00,
    #00ff00,
    #0099ff,
    #001aff,
    #a200ff
  );
  animation: rolling 12s linear infinite;
  background-size: 300%;
  border-radius: 8px;
}

.box::after {
  filter: blur(50px);
}

@keyframes rolling {
  0%,
  100% {
    background-position: 0 0;
  }
  50% {
    background-position: 300%;
  }
}
