* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #ffee5a;
  overflow: hidden;

  &.dark {
    background-color: #111;
  }
}

.cursor {
  position: relative;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  & .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f44336;
    border-radius: 50%;
    /* translate: -50% -50%; */
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
}

body.dark .cursor .circle {
  background-color: #fff;
}
