extends extends/layout

block content
  form(action="/store", method="POST") 
    - let canSave = true
    include includes/_buttons
    div.wrapper
      .line-numbers &gt;
      textarea(name="content", autofocus) #{content}

block scripts
  script(src='/scripts/autosize.min.js')
  script.
    autosize(document.querySelector('textarea'))